<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteRule  ^web/(.*) web/$1 [L,QSA]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule  ^$ public/    [L,QSA]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule  (.*) public/$1 [L,QSA]
</IfModule>

Header set Access-Control-Allow-Origin "*"