<IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteRule  ^$ web/index.html    [L,QSA]
        RewriteRule  ^api/(.*) public/index.php?_url=/api/$1 [L,QSA]
        RewriteRule  ^web/(.*) web/$1 [L,QSA]
</IfModule>

Header set Access-Control-Allow-Origin "*"