/* Sticky Footer */
.footer {
  position: absolute;
  bottom: 0;
}

@media (max-width: 576px) {

  .truncate-xs {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }

}

@media (min-width: 576px) {

  .truncate-sm {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }

}

@media (min-width: 768px) {

  .truncate-md {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }

}

@media (min-width: 992px) {

  .truncate-lg {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }

}

@media (min-width: 1200px) {

  .truncate-xl {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }

}

@media (max-width: 576px) {

  .no-gutters-xs {
    margin-right: 0;
    margin-left: 0;
    max-width: 100% !important;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

}

@media (min-width: 576px) and (max-width: 768px) {

  .no-gutters-sm {
    margin-right: 0;
    margin-left: 0;
    max-width: 100% !important;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

}

@media (min-width: 768px) and (max-width: 992px) {

  .no-gutters-md {
    margin-right: 0;
    margin-left: 0;
    max-width: 100% !important;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

}

@media (min-width: 992px) and (max-width: 1200px) {

  .no-gutters-lg {
    margin-right: 0;
    margin-left: 0;
    max-width: 100% !important;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

}

@media (min-width: 1200px) {

  .no-gutters-xl {
    margin-right: 0;
    margin-left: 0;
    max-width: 100% !important;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

}