#view-rooms-list-container {
  height: calc(80vh);
  overflow-x: hidden;
  overflow-y: scroll;
}

//.view-roomslistitem-row {
//  margin: 0;
//}

//.view-roomslistitem-row .col-xs-2 {
//  padding: 0;
//}

//.view-roomslistitem-row .col-xs-10 .row {
//  margin: 0;
//}

//.view-roomslistitem-row .col-xs-2 a.btn.btn-link {
//  padding: 0 8px 0 8px;
//}