#view-devices-list-container {
  max-height: calc(100vh);
  overflow-x: hidden;
  overflow-y: hidden;
}

//.view-deviceslistitem-row {
//  margin: 0;
//}

//.view-deviceslistitem-row .col-xs-2 {
//  padding: 0;
//}

//.view-deviceslistitem-row .col-xs-10 .row {
//  margin: 0;
//}

//.view-deviceslistitem-row .col-xs-2 a.btn.btn-link {
//  padding: 0 8px 0 8px;
//}